[data-theme="dark"] {
  --color-bg: var(--color-neutral-900);
  --color-text: var(--color-neutral-100);
  --color-cards-bg: var(--color-neutral-800);
  --color-border-cards: var(--color-neutral-700);
  --color-hover-cards-bg: var(--color-neutral-700);
}

[data-theme="light"] {
  --color-bg: var(--color-neutral-100);
  --color-text: var(--color-neutral-600);
  --color-cards-bg: var(--color-neutral-100);
  --color-border-cards: var(--color-neutral-200);
  --color-hover-cards-bg: var(--color-neutral-200);
}