.ui-card{
    background: var(--color-cards-bg);
    border-radius: var(--radius-lg);
    width: 150px;
    padding: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid var(--color-border-cards);
}

.ui-card img {
    width: 120px;
    height: 120px;
    padding: 1rem;
}

.ui-card p {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    margin: 0.5rem 0;
}

.ui-card:hover {
    transition: all 0.2s ease-in-out;
    background-color: var(--color-hover-cards-bg);
    box-shadow: var(--shadow-sm);
}