.container-cards{
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.bg-yellow{
    background: #f3cb29;
}